head {/* Group 6.1 */




}
body {
	background:url( 'assets/img/Background.png')top right no-repeat;
	 background-attachment:fixed;
	background-size: cover;
	/* Group 6 */
}
h1{
	color: rgba(59, 50, 68, 1);
	font-family: century gothic;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 50px;

}
h2{
	color: rgba(59, 50, 68, 1);
	font-family: century gothic;
	margin: 0;
	padding: 0 0 20px;
	text-align: left;

}
h3{
	color: white;
	font-family: century gothic;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size:60px;

}
h4{
	color: red;
	font-family: century gothic;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size:60px;

}


/* For mis.html  */

.signup{
	width:520px;
	height: 620px;
	background: white;
	color: #fff;
	background-position: fixed;
	transform: translate(20%,20%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
}
.avatar {
	width: 246.68px;
	height: 109.08px;
	border-radius: 52px 52px 52px 52px;
	position: absolute;
	 top: -50px;
	left:calc(50% - 100px);
	background: transparent;

}
.homeavatar {
	width: 120px;
	height: 70px;
	border-radius: 52px 52px 52px 52px;
	position: left;
	left:calc(50% - 100px);
	background: transparent;

}
.signup h2{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.signup input{
	width:100%;
	margin-bottom:20px;
}

.signup input[type="text"], input[type="password"]
{
	border:none;
	border-bottom: 2px solid gray;
	background:transparent;
	outline: none;
	height: 40px;
	color: rgba(59, 50, 68, 1);
	font-size:15px;
}

.login{
	width:420px;
	height: 820px;
	background:transparent;
	color: #fff;
	top:60%;
	left:50%;
	transform: translate(20%,-55%);
	box-sizing: border-box;
	padding: 200px 30px;
	border-radius: 20px;
	position: absolute;


}
.login h3{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.login input{
	width:100%;
	margin-bottom:20px;
}

.login input[type="logtext"]
{
	box-sizing: border-box;
	border-bottom: 2px solid white;
	background:white;
	outline: none;
	height: 40px;
	color: rgba(59, 50, 68, 1);
	font-size:20px;

}
.login  input[type="password"]
{
	box-sizing: border-box;
	border-bottom: 2px solid white;
	background:white;
	outline: none;
	height: 40px;
	color: rgba(59, 50, 68, 1);
	font-size:20px;
}
.login a{
	text-decoration: none;
	font-size: 25px;
	line-height: 20px;
	color:white;

}
input, select, textarea{
    color: #ff0000;
}

textarea:focus, input:focus {
    color: #ff0000;
}

a.button {

		width:90%;


	position: fixed;
	height:30px;
	background: rgba(220, 12, 74, 1);
	color: white;
	font-size:30px;
	font-family: arial;
	text-align:center;
	padding: 7px 1px;
    border-radius: 20px;

}
a.button:hover
{
	background-color:rgba(255, 168, 0, 0.9803);
}
a.sbutton {
	width:90%;


	position: fixed;
	height:40px;
	background: rgba(220, 12, 74, 1);
	color: white;
	font-size:30px;
	font-family: arial;
	text-align:center;

    border-radius: 20px;

}
a.sbutton:hover
{
	background-color:rgba(255, 168, 0, 0.9803);
}


/* For mis.home */
.testnav{
	width: 100%;
	height:90px;
	background-color: rgba(52, 55, 79, 1);
}

.testnav ul {
	float: left;

}
.testnav ul li {
	float: left;
	list-style:none;
	position: center;
}

.testnav ul li a{
	display: block;
	font-family: arial;
	font-size: 24px;
	color:white;
	padding:10px 20px;
	text-decoration: none;
}

.testnav ul li ul{
	display: none;
	position: absolute;
	background-color:rgba(52, 55, 79, 1);
	padding: 5px;
	border-radius: 0px 0px 4px 4px;

}
.testnav ul li ul li {
	width:330px;

}
.testnav ul li ul li a{
	padding:8px 14px;
	font-size: 20px;

}
.testnav ul li ul li a:hover{

	background-color:silver;

}
.testnav ul li:hover ul{
	display:block;
}
.testnav li{
	float:right;
	list-style:none;
	position: right;

}
.testnav li a{

	font-family: arial;
	font-size: 24px;
	color:white;
	padding:20px 20px;
	text-decoration: none;
	height:50px;

}

.topnav{
	width: 100%;
	height:80px;
	background-color: white;
	padding: 5px 15px;
}
.topnav p{

	font-family: arial;
	font-size: 30px;
	color:white;
	padding:20px 20px;
	text-decoration: none;
	text-align:center;


}
.topnav a{

	background-color: white;
	padding: 20px 30px;
}
.topnav li h1{

	list-style:none;
	text-align:center;
	position:top;
	color:rgba(52, 55, 79, 1);

}
