@charset "UTF-8";
body {
	background:url( 'assets/img/Background.png')top right no-repeat;
	 background-attachment:fixed;
	background-size: cover;
	/* Group 6 */
}
a {
  text-decoration: none;
}


#navbar {
    
      color: white;
      font-family: arial;
    	font-size: 24px;
}


#logo {
    display: grid;
    justify-content: start;
    align-content: center;
}

#logo a{
  padding: 10px 5px 10px 4px;
}

#account {
    justify-content: center;
    align-content: center;
    font-size: 25px;
}

#stall {
    justify-content: right;
    align-content: center;
    font-size: 25px;
}

#navmenu{
        display: grid;
        height: 80px;
        grid-auto-flow: column;
      	background-color: white;
        grid-gap: 20px;
        padding-left: 30px;
        width: 100%;
        grid-template-columns: 1fr;
        color: Black;
        font-family: arial;
      	font-size: 24px;
  }

#navlogout {
	width:100;
	position: sticky;
	padding: 0 0 15px 60px;

}

/* Navbar dropdownz */
  .testnav{
  	width: 100%;
    color: black;
  }

  .testnav ul {
  	float: left;

  }
  .testnav ul li {
  	float: left;
  	list-style:none;
  }

  .testnav ul li a{
  	display: block;
  	font-family: arial;
  	font-size: 24px;
  	color:black;
  	padding: 0 10px 0 20px;
  	text-decoration: none;
  }

  .testnav ul li ul{
  	display: none;
  	position: absolute;
  	padding: 5px;
  	border-radius: 0px 0px 4px 4px;


  }
  .testnav ul li ul li {
  	width:51%;

  }
  .testnav ul li ul li a{
  	padding:8px 14px;
  	font-size: 20px;
    background-color: rgba(52, 55, 79, 1);
		border-style: inset;
		border-width: thin;
		border-color: white;

  }
  .testnav ul li ul li a:hover{

  	background-color:silver;

  }
  .testnav ul li:hover ul{
  	display:block;
  }
  .testnav li{
  	float:right;
  	list-style:none;
  	position: right;

  }
  .testnav li a{

  	font-family: arial;
  	font-size: 24px;
  	color:white;
  	padding:20px 20px;
  	text-decoration: none;
  	height:50px;

  }

  #menudrop {
      display: grid;
      justify-content: left;
      align-content: center;
      width: 70%;
      font-size: 25px;
  }

  #navlogout{
    display: grid;
    justify-content: end;
    align-content: center;
    width: 70%;
    grid-gap: 10px;
    font-size: 25px;
    color: black;
    }





.main{
	display: grid;
	grid-template-columns: 70% 30%;
	padding-left: 15%
}

.grid{
	display: grid;
	grid-template-columns: 80% 20%;
	padding-left: 20%;
	padding-right:50%;
	padding-top: 2%;
	position: relative;
	grid-column-start: 1;
	grid-column-end: 1;
}
.grid div{
	color: white;
	font-family: arial;
	font-size-adjust: auto;
	font-size: 19px;
	height: 42px;
	align-content: center;
	padding-bottom: 10px;

}
.grid div:nth-child(odd){
	align-content: center;
}

.field {
	grid-column-start: 1;
	grid-column-end: 1;
	padding: 10px 10px 10px 10px;
}
.userfill{
	grid-column-start: 2;
	grid-column-end: 2;
}

.warning {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 2;
	align-items: left;
	color: white;
	font-family: arial;
	font-size: 14px;
	padding-top: 100px;
	padding-left: 80%;
}
.upload_logo {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 2;
	align-items: left;
	color: white;
	font-family: arial;
	font-size: 14px;
	padding-left: 80%;
}


#upload_logo{
	align-content:  right;
}
#control{
	display: grid;
	grid-template-columns: 1fr 1fr;
 font-size: 25px;
 max-width: 400px;

}
#control input[type=radio] {
    width: 150px;
    height: 20px;
}
#txtbox{
		font-size: 18pt;
		height: 42px;
		width : 300px;
		position: relative;
	}
#label{
	color: white;
	font-family: arial;
	font-size: 35pt;
	padding-top: 1%;
	padding-left: 40%;
	grid-column-start: 1;
	grid-column-end: 2;
}



a.submit_button {
	width:15%;
	position: fixed;
	height:60px;
	background: rgba(220, 12, 74, 1);
	color: white;
	font-size:40px;
	font-family: arial;
	text-align: center;
  border-radius: 20px;
	border-style: solid;
	border-color: gray;

	grid-column-start: 1;
	grid-column-end: 2;


}
a.submit_button:hover
{
	background-color:rgba(255, 168, 0, 0.9803);
}


#links{
	color: RED;
	font-size: 30px;
	background: white;
}
