#container{
  margin:0 auto;
  width:80%;
  font-family: verdana,arial,sans-serif;
  font-size:16px;
}
#modalWindow {
  position: fixed;
  font-family: arial,helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms linear;
  pointer-events: none;
}
#modalWindow:target {
  opacity:1;
  pointer-events: auto;
}
#modalWindow > div {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 13px 20px;
  border: solid;
  border-color: black;
  border-width : 2px;
  background: #24303d;
  border-radius: 10px;
}

#modalWindow1 {
  position: fixed;
  font-family: arial,helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms linear;
  pointer-events: none;
}
#modalWindow1:target {
  opacity:1;
  pointer-events: auto;
}
#modalWindow1 > div {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 13px 20px;
  border: solid;
  border-color: black;
  border-width : 2px;
  background: #24303d;
  border-radius: 10px;
}

#modalWindow2 {
  position: fixed;
  font-family: arial,helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms linear;
  pointer-events: none;
}
#modalWindow2:target {
  opacity:1;
  pointer-events: auto;
}
#modalWindow2 > div {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 10% auto;
  padding: 10px 20px 13px 20px;
  border: solid;
  border-color: black;
  border-width : 2px;
  background: #24303d;
  border-radius: 10px;
}

#modalWindow3 {
  position: fixed;
  font-family: arial,helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms linear;
  pointer-events: none;
}
#modalWindow3:target {
  opacity:1;
  pointer-events: auto;
}
#modalWindow3 > div {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 10% auto;
  padding: 10px 20px 13px 20px;
  border: solid;
  border-color: black;
  border-width : 2px;
  background: #24303d;
  border-radius: 10px;
}

#modalWindow4 {
  position: fixed;
  font-family: arial,helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms linear;
  pointer-events: none;
}
#modalWindow4:target {
  opacity:1;
  pointer-events: auto;
}
#modalWindow4 > div {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 10% auto;
  padding: 10px 20px 13px 20px;
  border: solid;
  border-color: black;
  border-width : 2px;
  background: #24303d;
  border-radius: 10px;
}
